html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/* Gallarey-list */
.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(380px, 1fr));
  grid-gap: 12px;
  padding: 0;
  list-style: none;
  margin-left: auto;
  margin-right: auto;
}
.stats {
  display: flex;
  justify-content: space-around;
}
.photo-card img {
  display: block;
  max-width: 100%;
}
.search-form {
  margin-top: 50px;
}
.search-form input {
  width: 300px;
  height: 50px;
  font-size: 20px;
}

button {
  width: 100px;
  height: 30px;
}
